.modal-content-co {
    width: 100%;
}

.modal-content-co .custom-table {
    display: table;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    overflow-y: auto;
    max-height: 100vh;
}