.modal-content-oi-ges {
    width: 100%;
    max-width: 100%;
}

.modal-content-oi-ges .custom-table {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: auto;
    max-width: 100%;
    width: 100%;
}

.modal-content-oi-ges .custom-table .tr,
.modal-content-oi-ges .custom-table .td,
.modal-content-oi-ges .custom-table .th,
.modal-content-oi-ges .thead {
    width: 100%;
}

.modal-content-oi-ges .custom-table .th,
.modal-content-oi-ges .custom-table .td {
    width: 100%;
}

.modal-content-oi-ges .custom-table .tbody {
    width: 100%;
}

.modal-content-oi-ges .custom-table .tbody .tr {
    width: 100%;
}

.modal-content-oi-ges .custom-table .tbody .tr .td {
    width: 100%;
}

.modal-content-oi-ges .custom-table .tbody .tr .td .custom-table {
    width: 100%;
    max-width: 100%;
}

.modal-content-oi-ges .custom-table .td,
.modal-content-oi-ges .custom-table .th {
    border: 1.5px solid black;
    border-collapse: collapse;
}

.modal-content-oi-ges .custom-table .td {
    /* overflow: hidden;
    text-overflow: ellipsis; */
    white-space: nowrap;
}

.modal-content-oi-ges.custom-table .thead>.tr:last-child>.th {
    border-bottom: 1.5px solid black;
}

.modal-content-oi-ges .custom-table .th {
    font-weight: bold;
}

.modal-content-oi-ges .modal-content {
    border: 1.5px solid black;
}

.modal-content-oi-ges .custom-table .th,
.modal-content-oi-ges .custom-table .td {
    border: 1px solid black;
    padding: 8px;
}

.modal-content-oi-ges .thead {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.modal-content-oi-ges .tr {
    display: flex;
}

.modal-content-oi-ges .th,
.modal-content-oi-ges .td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    flex: 1;
}

.modal-content-oi-ges .td {
    flex-basis: 0;
}